<% provide :title, 'İlan Başvurusu' %>
<div class="topics panel columns radius ">
  <h2><%= @topic.title %></h2>
  <p><%= markdown @topic.body  %></p>
</div>
<div class="small-11 columns offset-1">
  <%= render 'form' %>
</div>
