<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">TeknoCV</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if company_signed_in?%>
          <li class="has-dropdown">
            <a href="#"> <%= current_company.company_name %></a>
              <ul class="dropdown">
                <li><%= link_to "Profilimi Görüntüle", company_path(current_company) %></li>
                <li><%= link_to "Oturumu Kapat", com_logout_path, method: :delete %></li>
              </ul>
          </li>
        <% else %>
          <%= render 'companies/top_detect'%>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
