<li class="has-dropdown">
  <a href="#"> Kaydol </a>
    <ul class="dropdown">
      <li><%= link_to "Şirket Kaydı", new_company_path %></li>
      <li><%= link_to "Aday Kaydı", register_path %></li>
    </ul>
</li>
<li class="has-dropdown">
  <a href="#"> Oturum Aç </a>
    <ul class="dropdown">
      <li><%= link_to "Şirket Oturumu", com_login_path %></li>
      <li><%= link_to "Aday Oturumu", login_path %></li>
    </ul>
</li>
